@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:0px;
  font: 15px/1.6 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#565656;
  background-color: #295182;
  margin: 0;
}


p, ul, ol, table, pre, dl {
  margin:0 0 14px;
}

h1, h2, h3 {
  line-height:1.3;
  margin:0;
  
}

h1 {
  font-size:32px;

}

h2 {
  color:#393939;
}

h3{
  color:#245596;
  font-weight: normal;
  font-size:28px;
  margin: 20px 0px 20px 0px;
  
}

h4, h5, h6 {
  color:#73757a;
  font-size:14px;
  font-weight: normal;
  text-transform:uppercase;
  
}

a {
  color:#3675c9;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#78a5d3;
  margin-top:-0.6em;
  display:block;
}

#about li.about a,
#faculty li.faculty a,
#classes li.classes a,
#gallery li.gallery a,
#calendar li.calendar a,
#contact li.contact a{
color: #fff;
}

ul#davidhardy li.davidhardy a,
ul#dianaboegel li.dianaboegel a,
ul#brianlei li.brianlei a,
#studentwork span.studentwork a{
	background: #3675c9;
	color: #fff;
}


.wrapper {
  width:990px;
  margin:0 auto;
  margin-top: 20px;
  background-color: #f9f9fa;
  box-shadow: 0px 0px 9px #1c3a5f;
  overflow: hidden;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}


img {
  max-width:100%;
}

.header {
background: #184c92;
height: 156px;

}
.header h1 a{
margin:0;
display: block;
padding:0;
height: 97px;
width: 635px;
background: url('../img/sprite.png');
text-indent: -9999px;
	
}
.header ul {
  list-style:none;
  height:20px;
  margin-left: 271px;
  padding-top:28px;
}

.header li {
  float:left;
  padding: 0 14px;
}

.header ul a {
  font-size:12px;
  text-transform:uppercase;
  color:#78a5d3;
  display:block;
  letter-spacing:.15em
}

.subnav{
	margin: 50px 0 0 40px;
	}
.subnav ul {
  list-style:none;
  text-indent: -12px;
}

.subnav ul a, .subnav span a {
  font-size:12px;
  text-transform:uppercase;
  font-weight: 400;
  color:#4d4e50;
  letter-spacing:.15em;
  line-height: 26px;
}
.subnav ul a:hover, .subnav span a:hover {
  background:#d1def0;
  color:#245596;
}


.section {
width:960px;
overflow: hidden;
margin-bottom: 30px;
}

.col{
float: left;
width: 200px;
overflow: hidden;
}
.gutter{
margin-left:40px;
	}
}
.span1{
width: 200px;
	
}
.span2{
width: 400px;
	
}

.span3{
width: 600px;
margin: 40px 0 0 20px;
margin-top:26px;
	
}
.span4{
width: 800px;
	
}
.span1 img{ width: 170px; margin: 30px 20px 0px 0px;}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

