---
layout: default
bodyClassName: gallery
---

<div class="col subnav">
<span style="font-size: 12px;letter-spacing:.15em;">FACULTY WORK</spans>
	<ul id="{{page.artistName}}">

	<li class="davidhardy">
	<a href="{{ site.baseurl }}/gallery/david-hardy.html">David Hardy</a></li>		
		<li class="dianaboegel"><a a href="{{ site.baseurl }}/gallery/diana-boegel.html">Diana Boegel</a></li>
		<li class="brianlei"><a a href="{{ site.baseurl }}/gallery/brian-lei.html">Brian Lei</a></li>
	</ul>
	
	<span id="{{page.artistName}}">
		<span class="studentwork"><a href="{{ site.baseurl }}/gallery/student-work.html">STUDENT WORK</a></span>
	</span>
</div>
		
{{ content }}


<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
