<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}}</title>
    
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/fancybox.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/javascripts/fancybox.min.js"></script> 
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body id="{{page.bodyClassName}}">
    <div class="wrapper">
      <div class="header">
	      
	    <h1><a href="{{ site.baseurl }}/index.html">Atelier School of Classical Realism</a></h1>


        <ul>
          <li class="about"><a href="{{ site.baseurl }}/index.html">Home</strong></a></li>
          <li class="faculty"><a href="{{ site.baseurl }}/faculty.html">Faculty</strong></a></li>
          <li class="gallery"><a href="{{ site.baseurl }}/gallery/david-hardy.html">Gallery</a></li>
          <li class="classes"><a href="{{ site.baseurl }}/classes.html">Classes</a></li>
          <li class="calendar"><a href="{{ site.baseurl }}/calendar.html">calendar</a></li>
          <li class="contact"><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
        </ul>
      </div>
    

	{{ content }}

	</body>
</html>